<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="connectionStrings" type="System.Configuration.ConnectionStringsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Hunt.Epic.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <oracle.dataaccess.client>
    <settings>
    <add name="NVarcharTable" value="udtMapping factoryName='LandisGyr.Data.Arrays.Oracle.NVarcharTableCollectionFactory,LandisGyr.Data,Culture=neutral, PublicKeyToken=null' typeName='NVARCHARTABLE' schemaName='CAPABILITYSTORE'" />   
    </settings>
  </oracle.dataaccess.client>
  <connectionStrings>
    <add name="CCEDSDatabaseKey" connectionString="Initial Catalog=CapabilityStore;Data Source=localhost;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="CCEDSOracleDatabaseKey" connectionString="User ID=CapabilityStore;password=system;Data Source=(DESCRIPTION=(CONNECT_DATA=(SERVICE_NAME=XE))(ADDRESS=(PROTOCOL=TCP)(HOST=10.91.47.6)(PORT=1521)))" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EDPLayerCallbackService_BasicHttpBinding" maxReceivedMessageSize="16777216" sendTimeout="00:10:00">
          <readerQuotas maxArrayLength="16777216" />
          <security mode="None" />
        </binding>
        <binding name="CallbackService_BasicHttpBinding" maxReceivedMessageSize="16777216" sendTimeout="00:10:00">
          <readerQuotas maxArrayLength="16777216" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>    
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>