<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="LandisGyr.AMI.Devices.Capabilities.Service.Contracts" version="1.0.0-Alpha0005" targetFramework="net45" />
  <package id="LandisGyr.Data" version="1.0.0" targetFramework="net45" />
  <package id="LandisGyr.Logging.Package" version="1.0.0.3" targetFramework="net45" />
  <package id="LandisGyr.ServiceModel" version="1.1.0-Alpha0001" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net45" />
</packages>